{% extends "base.html" %}
{% block title %}All Activity Logs{% endblock %}
{% block content %}
<h2>All Activity Logs</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>사용자 계정</th>
            <th>활동</th>
            <th>세부사항</th>
            <th>시간</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.user.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.details }}</td>
            <td>{{ log.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin') }}">관리자 페이지로 돌아가기</a>
{% endblock %}

