{% extends "base.html" %}
{% block title %}Edit Upload{% endblock %}
{% block content %}
<h2>Edit "{{ file.filename }}"</h2>
<form method="post">
    <label>긴급 여부:</label><br/>
    <input type="checkbox" name="urgency" value="긴급" {% if file.urgency == 'Urgent' %}checked{% endif %}> 긴급<br/>
    <input type="hidden" name="urgency" value="일반"><br/><br/>
    
    <label>협동 여부:</label><br/>
    <input type="checkbox" name="type" value="협동" {% if file.type == 'Collaborative' %}checked{% endif %}> 협동<br/>
    <input type="hidden" name="type" value="개인"><br/><br/>
    
    <input type="submit" value="보내기">
</form>
<a href="{{ url_for('uploadlist') }}">업로드 목록으로 이동</a>
{% endblock %}
