{% extends "base.html" %}
{% block title %}Edit Upload{% endblock %}
{% block content %}
<h2>Edit "{{ file.filename }}"</h2>
<form method="post">
    <label>긴급여부:</label><br/>
    <select name="긴급">
        <option value="Urgent" {% if file.urgency == 'Urgent' %}selected{% else %}>Normal{% endif %}>Urgent</option>
    </select><br/><br/>
    <label>협업 여부:</label><br/>
    <select name="협업">
        <option value="Collaborative" {% if file.type == 'Collaborative' %}selected{% else %}>Individual{% endif %}>Collaborative</option>
    </select><br/><br/>
    <input type="submit" value="Save Changes">
</form>
<a href="{{ url_for('uploadlist') }}">Back to Upload List</a>
{% endblock %}

