{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ username }}!</h2>

<div class="d-flex flex-row">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload') }}">업로드</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('uploadlist') }}">업로드 내역</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('calendar') }}">캘린더</a>
        </li>
        {% if current_user.is_admin %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin') }}">관리자 계정입니다</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">로그아웃</a>
        </li>
    </ul>
</div>
{% endblock %}

